# Мавен: исключаем директории и файлы, генерируемые при сборке
target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr



# Лог файлы
*.log

# Папки для кэшированных зависимостей
.m2/

# Системные файлы macOS
.DS_Store

# Системные файлы Windows
Thumbs.db

# Файлы IDE, которые хранят конфигурацию рабочего окружения
*.swp